---
import { Icon } from 'astro-icon/components';
import type { Brands as Props } from '~/types';

import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
const {
  title = '',
  subtitle = '',
  tagline = '',
  icons = [],
  iconsGroups = {},
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />

  <div class="max-w-64 md:max-w-xl mx-auto">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      {icons && icons.map((icon) => <Icon name={icon} class="size-28 p-2 rounded-xl bg-white" />)}
    </div>
  </div>
  {
    iconsGroups &&
      Object.values(iconsGroups).map((icons) => (
        <div class="flex flex-wrap justify-center gap-x-6 sm:gap-x-24 my-1">
          {icons.map((icon) => (
            <Icon name={icon} class="size-20 p-2 rounded-xl bg-white" />
          ))}
        </div>
      ))
  }
</WidgetWrapper>
